@import "sw/rationale";
@import "sw/inner";

@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

.asciidoctor {
  @import "asciidoctor";
}

.playground div.monaco-wrapper {
  padding-top: 2em;
  height: 23em;
}

.experiment div.monaco-wrapper {
  height: 23em;
}
