name: nightly

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *' # every night

permissions:
  contents: write # for creating a release

jobs:
  args:
    runs-on: ubuntu-latest
    outputs:
      commit: ${{ steps.getflags.outputs.commit }}
      version: ${{ steps.getflags.outputs.version }}
    steps:
      - id: checkout
        uses: actions/checkout@v3
      - id: getflags
        run: |
          curl -sSLf "$(curl -sSLf https://api.github.com/repos/tomwright/dasel/releases/latest | grep browser_download_url | grep linux_amd64 | grep -v .gz | cut -d\" -f 4)" -L -o dasel && chmod +x dasel
          echo "version=$(./dasel -f swio/Cargo.toml -r toml -s package.version)" >> "$GITHUB_OUTPUT"
          echo "commit=$GITHUB_SHA" >> "$GITHUB_OUTPUT"
  tag:
    runs-on: ubuntu-22.04
    needs: args
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - uses: rickstaa/action-create-tag@v1
        id: "tag_create"
        with:
          tag: "${{ needs.args.outputs.version }}-nightly.${{ needs.args.outputs.commit }}"
          tag_exists_error: false
          message: "Latest nightly release"
